<form [formGroup]="booksForm" (ngSubmit)="submitForm()">

  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input formControlName="isbn" type="text" class="form-control" id="isbn">
  </div>

  <div class="feedback-red" *ngIf="isInvalid('isbn')">
    Please enter a valid ISBN!
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input formControlName="title" type="text" class="form-control" id="title">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea formControlName="description" class="form-control" id="description"></textarea>
  </div>

  <div class="form-group">
    <button
      [disabled]="booksForm.invalid"
      type="submit" class="btn btn-primary">Create</button>
  </div>

</form>
