<p>
    <a href="https://github.com/angular/flex-layout">Angular Flex-Layout</a> is a library made to utilize CSS Flexbox features.
    Most of the functionality is provided
    <a href="https://github.com/angular/flex-layout/wiki/API-Documentation#html-api-declarative">via Directives which are used declaratively</a>
    in the markup.
</p>

<p>
  Use a directive to make the first card 2x wider if we have a small screen!<br>
  You can use the CSS class <code>big-card</code>.
</p>

<main class="cards-ngf">
  <app-card number="1"></app-card>
  <app-card number="2"></app-card>
  <app-card number="3"></app-card>
  <app-card number="4"></app-card>
  <app-card number="5"></app-card>
  <app-card number="6"></app-card>
</main>

