<h4>flex-direction</h4>

<input type="radio" name="direction" id="row" checked> <label for="row">row</label>
<input type="radio" name="direction" id="row-rev"> <label for="row-rev">row-rev</label>
<input type="radio" name="direction" id="column"> <label for="column">column</label>
<input type="radio" name="direction" id="column-rev"> <label for="column-rev">column-rev</label>

<h4>justify-content</h4>

<input type="radio" name="justify" id="justify-flexstart" checked> <label for="justify-flexstart">flex-start</label>
<input type="radio" name="justify" id="justify-center"> <label for="justify-center">center</label>
<input type="radio" name="justify" id="justify-flexend"> <label for="justify-flexend">flex-end</label>
<input type="radio" name="justify" id="justify-spacebetween"> <label for="justify-spacebetween">space-between</label>
<input type="radio" name="justify" id="justify-spacearound"> <label for="justify-spacearound">space-around</label>

<h4>align-items</h4>

<input type="radio" name="align" id="align-flexstart" checked> <label for="align-flexstart">flex-start</label>
<input type="radio" name="align" id="align-center"> <label for="align-center">center</label>
<input type="radio" name="align" id="align-flexend"> <label for="align-flexend">flex-end</label>
<input type="radio" name="align" id="align-stretch"> <label for="align-stretch">stretch</label>

<div class="box">
  <div class="item item1">1</div>
  <div class="item item2">2</div>
  <div class="item item3">3</div>
  <div class="item item4">4</div>
  <div class="item item5">5</div>
</div>
