<mat-card class="mt-4">
  <mat-card-header>
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle>
      <ng-container *ngFor="let s of [].constructor(book.rating)">⭐️</ng-container>
    </mat-card-subtitle>
  </mat-card-header>

  <div class="thumb">
    <img mat-card-image [src]="book.firstThumbnailUrl" alt="Thumbnail">
  </div>

  <mat-card-content>
    <p>{{ book.description }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button (click)="doRateDown()" mat-raised-button color="primary">-1</button>
    <button (click)="doRateDown()" mat-raised-button color="primary">+1</button>
    <a [routerLink]="['/book', book.isbn]" mat-raised-button color="accent">Details</a>
  </mat-card-actions>
</mat-card>
