<div class="card mb-4">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-right"
        [src]="book.firstThumbnailUrl" width="200">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <ng-container *ngFor="let s of stars">
          ⭐
        </ng-container>️
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <button (click)="doRateDown()" class="btn btn-secondary mr-2">-1</button>
    <button (click)="doRateUp()" class="btn btn-primary mr-2">+1</button>

    <a class="btn btn-primary" [routerLink]="['/book',  book.isbn]">Details</a>
  </div>
</div>
