<p>
    Try out <code>align-items: flex-start</code> which sets each card to the top of the row.<br>
    The height of each card shrinks so that it fits the content.
    This results in varying sized cards.
  </p>

<p>
  Then try out <code>align-items: stretch</code> which is the default setting.<br>
  This stretches the height of the cards so that they're all the same height as the tallest card in the row.
</p>

<p>
  Last but not least use a media query to make the first card 2x wider if we have a small screen!
</p>

<main class="cards">
  <app-card number="1"></app-card>
  <app-card number="2"></app-card>
  <app-card number="3"></app-card>
  <app-card number="4"></app-card>
  <app-card number="5"></app-card>
  <app-card number="6"></app-card>
</main>

